<!DOCTYPE html>
<html lang="en">
<title>Kael's Online-Resume</title>
<body>
<div class="resume-container" id="cv">
    <div class="side">
        <div class="me">
            <div class="portrait"></div>
            <div class="remodal remodal-img" data-remodal-id="portrait-modal">
                <h3>请输入图片URL地址：</h3>
                <br/>
                <input type="text" id="avatar-url">
                <button data-remodal-action="confirm" class="remodal-confirm">确定</button>
            </div>
            <h2 id="username" >Kael Zhan</h2>
            <h4 id="persona-tag" >DevOps Engineer / IT</h4>
        </div>
        <div class="profile info-unit">
            <h3 class="info-header"><i class="iconfont icon-person"></i> <span class="info-title">Basic Information</span></h3>
            <hr>
            <ul class="info-list">
                <li>
                    <label class="left-label">Name</label><span class="label-value">Kael Zhan</span></li>
                <li>
                    <label class="left-label">Educational</label><span class="label-value">Bachelor</span></li>
                <li>
                    <label class="left-label">Graduate Institutions</label><span class="label-value">Jilin University </span></li>
                <li>
                    <label class="left-label">Graduation Date</label><span class="label-value">2012.7</span></li>
            </ul>
        </div>
        <div class="contact info-unit">
            <h3 class="info-header"><i class="iconfont icon-call"></i> <span class="info-title">Contact Information</span></h3>
            <hr>
            <ul class="info-list">
                <li>
                    <label class="left-label">Mobile</label><span class="label-value">18911833717</span></li>
                <li>
                    <label class="left-label">Email</label><span class="label-value">kael.zhan@qq.com</span></li>
                <li>
                    <label class="left-label">Homepage</label><span class="label-value">https://www.kongqigongying.com/</span></li>
                <li>
                    <label class="left-label">Github</label><span class="label-value">https://github.com/kaelzhan</span></li>
            </ul>
        </div>
        <div class="skill info-unit">
            <h3 class="info-header"><i class="iconfont icon-star"></i> <span class="info-title">Skills</span></h3>
            <hr>
            <ul class="progress-list">
                <li>
                    <label class="left-label">AWS/Aliyun</label>
                    <progress value="90" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">Python/Ruby</label>
                    <progress value="80" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">Jenkins</label>
                    <progress value="80" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">Chef/Ansible</label>
                    <progress value="70" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">Docker</label>
                    <progress value="80" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">Kubernetes</label>
                    <progress value="80" max="100"></progress>
                </li>
            </ul>
        </div>
        <div class="stack info-unit">
            <h3 class="info-header"><i class="iconfont icon-build"></i> <span class="info-title">Technologies</span></h3>
            <hr>
            <ul class="stack-list">
                <li>
                    <label class="left-label">Cloud Computing</label><span class="label-value">AWS、Aliyun、OpenStack</span></li>
                </li>
                <li>
                    <label class="left-label">Virtualization</label><span class="label-value">VMware ESXi、Vagrant</span></li>
                </li>
                <li>
                    <label class="left-label">Program</label><span class="label-value">Python、Ruby、Go、Shell</span></li>
                </li>
                <li>
                    <label class="left-label">Database</label><span class="label-value">MySql、MongoDB</span></li>
                </li>
                <li>
                    <label class="left-label">Front-end</label><span class="label-value">HTML、CSS、Javascript、jQuery</span></li>
                </li>
                <li>
                    <label class="left-label">CI/CD</label><span class="label-value">Jenkins</span></li>
                </li>
                <li>
                    <label class="left-label">Configuration</label><span class="label-value">Chef/Ansible</span></li>
                </li>
                <li>
                    <label class="left-label">Docker</label><span class="label-value">Docker、Kubernetes、Helm</span></li>
                </li>
                <li>
                    <label class="left-label">Network</label><span class="label-value">TCP/IP、Router/Switch、Firewall、Load Balance、F5</span></li>
                </li>
            </ul>
        </div>

        <div class="aboutme info-unit right-paragraph">
            <h3 class="info-header"><i class="iconfont icon-flower"></i> <span class="info-title">Self-description</span></h3>
            <hr>
            <p>
                I'm a DevOps Engineer with more than 7+ years’ working experience. I'm skilled with Linux, Network, Shell, Python, Chef, Ansible, Dcoker, Kubernetes, Jenkins, VMware ESXi, Aliyun, AWS and continue to focus on new technologies. I can write idiomatic and clean code, understand how to deliver robust, scalable, secure system.
            </p>
        </div>

        <div class="code info-unit">
            <h3 class="info-header"><i class="iconfont icon-weixin"></i> <span class="info-title">WeChat</span></h3>
            <hr>
            <div class="weixin">
                <img src="/img/root/root-kaelwechat.jpg" alt="">

            </div>
        </div>
        <div class="remodal remodal-img" data-remodal-id="weixin-modal">
            <h3>请输入图片URL地址：</h3>
            <br/>
            <input type="text" id="weixin-url">
            <button data-remodal-action="confirm" class="remodal-confirm">确定</button>
        </div>
    </div>
    <div class="main">
        <div class="education info-unit right-list">
            <h3 class="info-header"><i class="iconfont icon-education"></i> <span class="info-title">Education Experience</span></h3>
            <hr>
            <ul class="experience-list">
                <li>
                    <h3>Jilin University - Electronic information science and technology (Bachelor)<span style="float:right;">2008.9 - 2012.7</span></h3>
                </li>
            </ul>
        </div>
        <div class="work info-unit right-list">
            <h3 class="info-header"><i class="iconfont icon-work"></i> <span class="info-title">Work Experience</span></h3>
            <hr>
            <ul class="experience-list">
                <li>
                    <h3>Blackboard China (Shanghai)</h3>
                    <h3>DevOps Engineer <span style="float:right;">2018.6 - To present</span></h3>
                    <p>
                        1. Support application on AWS Cloud SaaS platform.<br/>
                        2. Use cloudformation, terraform to code AWS cloud resources.<br/>
                        3. Use chef as system management tool to control thousands of instances.<br/>
                        4. Use jenkins as pipeline tool and write jenkins jobs.<br/>
                        5. Write python, bash, ruby scripts to build toolings to make jobs stable and automatic.<br/>
                        6. Take advantage of AWS services like VPC, ASG, Cloudwatch, Lambda and so on to build application infra environment.<br/>
                    </p>
                </li>
                <li>
                    <h3>Beijing, tianjin and hebei cooperative bill exchange center (Beijing)</h3>
                    <h3>DevOps Engineer <span style="float:right;">2016.11 - 2018.5</span></h3>
                    <p>
                        1. Designed the company's operation and maintenance system, and deployed servers and projects on cloud platform like Aliyun, VMware ESXi and so on.<br/>
                        2. Developed operation and maintenance tools using Python, PHP, Shell, Bootstrap, etc.<br/>
                        3. Used VMware ESXi, Hadoop, Hyperledger fabric, etc. to build, operate and maintain the company's local virtualization environment, big data, block chain and other test environments;<br/>
                        4. Set up the company's LAN network architecture and maintained the network configuration;<br/>
                        5. Managed, maintained and updated the application system on the company's Aliyun cloud;<br/>
                        6. Compile and update technical documents related to operation and maintenance;<br/>
                    </p>
                </li>
                <li>
                    <h3>Credit information center of the people's bank of China (Shanghai)</h3>
                    <h3>Operation and maintenance engineer <span style="float:right;">2014.2 - 2016.10</span></h3>
                    <p>
                        1. Used Apache, PHP, MySQL, MongoDB, Shell, HTML and Javascript to write automatic operation and maintenance system and monitoring software, and maintained the normal operation of website and business monitoring system.<br/>
                        2. Cooperate with website update and system change of business system, maintain the system configuration, and timely back out in case of problems.<br/>
                        3. Maintain the basic environment of the computer room and the safely and normally operation of all equipment (including network equipment such as router, switch, F5, security equipment such as firewall, IDS, IPS, audit equipment, server and storage).<br/>
                        4. Monitor and maintain the normal operation of applications (such as Apache, Weblogic, Tomcat, Mysql, etc.) and business, and ensure the normally running of external service.<br/>
                        5. Patrol and monitor the basic environment of the machine room and the running state of all equipment, record and generate reports, and coordinate to deal with sudden failures and emergencies in the network and system.<br/>
                    </p>
                </li>
                <li>
                    <h3>Foxconn (Tianjin)</h3>
                    <h3>System Integration And Test Engineer <span style="float:right;">2012.3 - 2014.2</span></h3>
                    <p>
                        Participated in the testing work of HP ML350e and SL2500 server successively, and completed successfully. Set up DHCP, PXE, FTP and other Web services with various functions in the laboratory, and maintained their normal work. Independently design and write a number of test tools to facilitate testing work. Cooperated with HP engineers to develop ILO Automation Test Tools(mainly using PHP, JavaScript, Ajax and Linux Shell), and proposed and developed Visual Lab function for it, which increased its practicability.
                    </p>
                </li>
            </ul>
        </div>
        <div class="project info-unit right-list">
            <h3 class="info-header"><i class="iconfont icon-project"></i> <span class="info-title">Project Experience</span></h3>
            <hr>
            <ul class="experience-list">
                <li>
                    <h3>Jenkin Migration (Blackboard China)<span style="float:right;">2018.10 - 2019.6</span></h3>
                    <h5>Description:</h5>
                    <p>
                        Migrating the Jenkins server running in the local machine room of the company to the K8S cluster in AWS cloud. Meanwhile, all jobs running on the Jenkins server need to be migrated, and all jobs of FreeStyle type need to be changed to Multibranch Pipeline type using Jenkins File.
                    </p>
                    <h5>Responsibilities:</h5>
                    <p>
                        1. Technical verification and testing of Jenkins server two-factor authentication method, and writing related documents;<br/>
                        2. Writing the Multibranch Pipeline type Job on the new Jenkins server;<br/>
                        3. Migrating jobs from the original Jenkins server to the new Jenkins server;<br/>
                        4. Reconfiguring and docking the Job on the new Jenkins server with the company's business management platform;<br/>
                    </p>
                    <h5>Achievement:</h5>
                    <p>
                        The Jenkins server and all Jenkins jobs running in the local computer room were successfully migrated to the K8S cluster in the AWS cloud, which made management easier and reduced operation and maintenance costs. Moreover, all Jenkins jobs were code-reconstructed, and all Jenkins jobs could be managed uniformly through code.
                    </p>
                </li>
                <li>
                    <h3>Internet business monitoring system (Credit information center of the people's bank of China) <span style="float:right;">2014.11 - 2015.5</span></h3>
                    <h5>Description:</h5>
                    <p>
                        Used Apache, PHP and MySQL databases to develop a business monitoring system, which is to monitor the website health status of all Internet businesses of the people's bank of China in the credit investigation. In case of business interruption, alarms and email reminders are issued, so that the staff on duty can make timely response and processing.
                    </p>
                    <h5>Responsibilities:</h5>
                    <p>
                        Responsible for the planning and scheduling of the whole project, designing the database architecture, writing most of the procedures, and training and guiding other development and operation personnel.
                    </p>
                    <h5>Achievement:</h5>
                    <p>
                        All expected functions are realized, and the interface is beautiful, easy to use, rich log, simple debugging; There are no obvious problems in use. Also I won the "excellent employee of 2015" because of it.
                    </p>
                </li>
                <li>
                    <h3>iLO Automation Test Tool （Foxconn） <span style="float:right;">2012.9 - 2013.1</span></h3>
                    <h5>Description:</h5>
                    <p>
                        Develop software to discover and control all HP servers through iLO server management chips connected to HP servers in the lab. Users can remotely log on to the server to control multiple HP servers simultaneously, check their status, install an operating system, or perform multiple tests.
                    </p>
                    <h5>Responsibilities:</h5>
                    <p>
                        Participated in the whole software programming work, and proposed and implemented a number of improvement measures.
                    </p>
                    <h5>Achievement:</h5>
                    <p>
                        Cooperated with HP engineers to develop ILO Automation Test Tools(mainly using PHP, JavaScript, Ajax and Linux Shell), and proposed and developed Visual Lab function for it, which increased its practicability.
                    </p>
                </li>
                <li>
                    <h3>Human electronic positioning tracking call unit in the IOT environment (Jilin University) <span style="float:right;">2010.4 - 2011.10</span></h3>
                    <h5>Description:</h5>
                    <p>
                        Develop a device that using GPS and heart rate sensor to locate and track the status of the elderly or children. If the device monitors the abnormal status of the person, the GPS location will be sent to the service end in time to facilitate others to provide timely assistance to the abnormal person.
                    </p>
                    <h5>Responsibilities:</h5>
                    <p>
                        System architecture design, software programming, team work assignment
                    </p>
                    <h5>Achievement:</h5>
                    <p>
                        Won the "college students' innovative experimental plan" university-level project of jilin university
                    </p>
                </li>
            </ul>
        </div>
        <div class="trophy info-unit">
            <h3 class="info-header"><i class="iconfont icon-trophy"></i> <span class="info-title">Awards</span></h3>
            <hr>
            <ul class="experience-list">
                <li>
                    <h5>Second prize of electronic design competition of jilin university in 2009</h5>
                </li>
                <li>
                    <h5>The third prize of jilin university student electronic design competition in 2010</h5>
                </li>
                <li>
                    <h5>The first prize in the electronic design competition of jilin university in 2010</h5>
                </li>
                <li>
                    <h5>Raisa super MCU model car qualifying excellence award in 2010</h5>
                </li>
                <li>
                    <h5>"College students' innovative experimental plan" project of jilin university in 2011</h5>
                </li>
                <li>
                    <h5>Published the paper "real-time dynamic monitoring and control system of modern agriculture" in the journal of science and education, 2011</h5>
                </li>
                <li>
                    <h5>Excellent employee of credit information center of people's bank of China in 2015</h5>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>