<!DOCTYPE html>
<html lang="en">
<title>Kael在线简历</title>
<body>
<div class="resume-container" id="cv">
    <div class="side">
        <div class="me">
            <div class="portrait"></div>
            <div class="remodal remodal-img" data-remodal-id="portrait-modal">
                <h3>请输入图片URL地址：</h3>
                <br/>
                <input type="text" id="avatar-url">
                <button data-remodal-action="confirm" class="remodal-confirm">确定</button>
            </div>
            <h1 id="username" >詹华（Kael）</h1>
            <h4 id="persona-tag" >运维开发（DevOps）工程师 / IT</h4>
        </div>
        <div class="profile info-unit">
            <h2 class="info-header"><i class="iconfont icon-person"></i> <span class="info-title">基本信息</span></h2>
            <hr>
            <ul class="info-list">
                <li>
                    <label class="left-label">姓名</label><span class="label-value">詹华</span></li>
                <li>
                    <label class="left-label">学历</label><span class="label-value">本科</span></li>
                <li>
                    <label class="left-label">毕业院校</label><span class="label-value">吉林大学</span></li>
                <li>
                    <label class="left-label">毕业年份</label><span class="label-value">2012</span></li>
            </ul>
        </div>
        <div class="contact info-unit">
            <h2 class="info-header"><i class="iconfont icon-call"></i> <span class="info-title">联系方式</span></h2>
            <hr>
            <ul class="info-list">
                <li>
                    <label class="left-label">手机</label><span class="label-value">18911833717</span></li>
                <li>
                    <label class="left-label">邮箱</label><span class="label-value">kael.zhan@qq.com</span></li>
                <li>
                    <label class="left-label">个人主页</label><span class="label-value">https://www.kongqigongying.com/</span></li>
                <li>
                    <label class="left-label">Github</label><span class="label-value">https://github.com/kaelzhan</span></li>
            </ul>
        </div>
        <div class="skill info-unit">
            <h2 class="info-header"><i class="iconfont icon-star"></i> <span class="info-title">技能点</span></h2>
            <hr>
            <ul class="progress-list">
                <li>
                    <label class="left-label">AWS/Aliyun</label>
                    <progress value="90" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">Python/Ruby</label>
                    <progress value="80" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">Jenkins</label>
                    <progress value="80" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">Chef/Ansible</label>
                    <progress value="70" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">Docker</label>
                    <progress value="80" max="100"></progress>
                </li>
                <li>
                    <label class="left-label">Kubernetes</label>
                    <progress value="80" max="100"></progress>
                </li>
            </ul>
        </div>
        <div class="stack info-unit">
            <h2 class="info-header"><i class="iconfont icon-build"></i> <span class="info-title">技术栈</span></h2>
            <hr>
            <ul class="stack-list">
                <li>
                    <label class="left-label">云计算</label><span class="label-value">AWS、Aliyun、OpenStack</span></li>
                </li>
                <li>
                    <label class="left-label">虚拟化</label><span class="label-value">VMware ESXi、Vagrant</span></li>
                </li>
                <li>
                    <label class="left-label">编程</label><span class="label-value">Python、Ruby、Go、Shell</span></li>
                </li>
                <li>
                    <label class="left-label">数据库</label><span class="label-value">MySql、MongoDB</span></li>
                </li>
                <li>
                    <label class="left-label">前端</label><span class="label-value">HTML、CSS、Javascript、jQuery</span></li>
                </li>
                <li>
                    <label class="left-label">CI/CD</label><span class="label-value">Jenkins</span></li>
                </li>
                <li>
                    <label class="left-label">配置管理</label><span class="label-value">Chef/Ansible</span></li>
                </li>
                <li>
                    <label class="left-label">容器云</label><span class="label-value">Docker、Kubernetes、Helm</span></li>
                </li>
                <li>
                    <label class="left-label">网络</label><span class="label-value">TCP/IP、路由/交换、防火墙、负载均衡、F5</span></li>
                </li>
            </ul>
        </div>

        <div class="aboutme info-unit right-paragraph">
            <h2 class="info-header"><i class="iconfont icon-flower"></i> <span class="info-title">自我评价</span></h2>
            <hr>
            <p>
                持续关注新技术，并在实践中验证;<br/>
                熟悉常见的虚拟化技术，如VMware ESXi, virtural box, vagrant, Aliyun, AWS;<br/>
                有容器和微服务部署及实践经验，熟悉Docker，K8S，Helm;<br/>
                有较多运维开发经验，能用Shell, Ruby, Python进行运维开发工作；<br/>
                熟练使用Jenkins等CI/CD 工具及Ansible, Chef等配置管理工具；<br/>
                熟练使用CloudFormation, Terraform等基础设施即代码编程工具，可熟练使用代码对基础设施进行管理和维护。<br/>
            </p>
        </div>

        <div class="code info-unit">
            <h2 class="info-header"><i class="iconfont icon-weixin"></i> <span class="info-title">个人微信</span></h2>
            <hr>
            <div class="weixin">
                <img src="/img/root/root-kaelwechat.jpg" alt="">

            </div>
        </div>
        <div class="remodal remodal-img" data-remodal-id="weixin-modal">
            <h3>请输入图片URL地址：</h3>
            <br/>
            <input type="text" id="weixin-url">
            <button data-remodal-action="confirm" class="remodal-confirm">确定</button>
        </div>
    </div>
    <div class="main">
        <div class="education info-unit right-list">
            <h2 class="info-header"><i class="iconfont icon-education"></i> <span class="info-title">教育经历</span></h2>
            <hr>
            <ul class="experience-list">
                <li>
                    <h3>吉林大学 - 电子信息科学与技术专业（本科）<span style="float:right;">2008 - 2012</span></h3>
                </li>
            </ul>
        </div>
        <div class="work info-unit right-list">
            <h2 class="info-header"><i class="iconfont icon-work"></i> <span class="info-title">工作经历</span></h2>
            <hr>
            <ul class="experience-list">
                <li>
                    <h3>Blackboard 中国（上海） － 运维开发工程师 <span style="float:right;">2018.6 - 至今</span></h3>
                    <p>
                        1. 负责AWS, Jenkins, Chef等系统资源的管理及配置维护；<br/>
                        2. 负责CloudFormation, Terraform, Jenkins file, Chef Cookbook 及其他运维工具的代码开发及维护；<br/>
                        3. 进行K8S Docker管理平台的测试搭建，并进行生产系统向K8S迁移的工作；<br/>
                        4. 负责处理及解决公司SaaS业务平台遇到的问题及故障；<br/>
                    </p>
                </li>
                <li>
                    <h3>京津冀协同票据交易中心（北京） － 运维开发工程师 <span style="float:right;">2016.11 - 2018.5</span></h3>
                    <p>
                        1.进行公司运维体系的设计，及Linux、Docker等环境下的应用部署及上线工作；<br/>
                        2.使用Python、PHP、Shell、Bootstrap等进行运维工具的开发；<br/>
                        3.使用VMware ESXi、Hadoop、Hyperledger fabric 等进行公司本地虚拟化环境及大数据、区块链等测试环境的搭建及运行维护；<br/>
                        4.进行公司局域网的网络架构搭建及网络配置维护；<br/>
                        5.进行公司阿里云上的应用系统运行维护及上线更新；<br/>
                        6.进行运维相关技术文档的编写及更新；<br/>
                    </p>
                </li>
                <li>
                    <h3>中国人民银行征信中心（上海） － 运维工程师 <span style="float:right;">2014.2 - 2016.10</span></h3>
                    <p>
                        1.使用Apache，PHP，MySQL，MongoDB，Shell，HTML，Javascript等编写自动化运维系统与监控软件，维护网站与业务监控系统的正常运行。<br/>
                        2.配合进行网站更新与业务系统上线的系统变更工作，维护系统的配置，在遇到问题时及时进行回退。<br/>
                        3.维护机房的基础环境与所有设备（包括网络设备如路由器、交换机、F5等，安全设备如防火墙、IDS、IPS等，审计设备，服务器，存储）的安全正常运行。<br/>
                        4.监控并维护应用（如Apache、Weblogic、Tomcat、Oracle、Mysql等）与业务的正常运行，保证系统正常对外服务。<br/>
                        5.巡检与监控机房基础环境与所有设备的运行状态并记录与生成报表，协调处理网络与系统中的突发故障和紧急事件。<br/>
                    </p>
                </li>
                <li>
                    <h3>富士康（天津） － 系统集成测试工程师 <span style="float:right;">2012.3 - 2014.2</span></h3>
                    <p>先后参与惠普ML350e与SL2500型服务器的测试工作，并顺利完成。搭建了实验室的DHCP,PXE,FTP与多种功能的Web服务器，并维护其正常工作。独立设计与编写多个测试工具，方便了测试工作。与惠普工程师合作进行了ILO Automation Test Tools(主要使用PHP，JavaScript，Ajax，Linux Shell)的开发，并为其提出与开发了Visual Lab功能，增加了它的实用性。
                    </p>
                </li>
            </ul class="experience-list">
        </div>
        <div class="project info-unit right-list">
            <h2 class="info-header"><i class="iconfont icon-project"></i> <span class="info-title">项目经历</span></h2>
            <hr>
            <ul class="experience-list">
                <li>
                    <h3>Jenkin Migration （Blackboard 中国）<span style="float:right;">2018.10 - 2019.6</span></h3>
                    <h5>项目描述：</h5>
                    <p>
                        将公司本地机房运行的Jenkins服务器迁移到AWS云的K8S集群上，同时还需迁移所有在Jenkins服务器上运行的Job，并同时将所有FreeStyle类型的Job使用Jenkins File 改写为Multibranch Pipeline类型.
                    </p>
                    <h5>项目职责：</h5>
                    <p>
                        1.负责对Jenkins服务器的双因素认证方式做技术验证及测试，并编写相关文档；<br/>
                        2.负责新的Jenkins服务器上Multibranch Pipeline类型Job的编写；<br/>
                        3.负责将原Jenkins服务器上的Job迁移到新Jenkins服务器；<br/>
                        4.负责将新Jenkins服务器上的Job与公司业务管理平台的重新配置及对接工作；<br/>
                    </p>
                    <h5>项目业绩：</h5>
                    <p>
                        将在本地机房运行的Jenkins服务器及所有Jenkins Job顺利迁移到AWS云的K8S集群上，使管理更加简单方便，降低了运行及维护成本；并将所有Jenkins Job进行了代码化重构，所有Jenkins Job可通过代码进行统一管理。
                    </p>
                </li>
                <li>
                    <h3>中国人民银行互联网业务监控系统 <span style="float:right;">2014.11 - 2015.5</span></h3>
                    <h5>项目描述：</h5>
                    <p>
                        使用Apache，PHP及MySQL数据库开发一款业务监控系统，用于监控中国人民银行征信衷心的所有互联网业务的网站健康状况，在有业务中断时发出告警并邮件提醒，以便值班人员及时做出应对和处理。
                    </p>
                    <h5>项目职责：</h5>
                    <p>
                        负责整个项目的规划和进度安排，设计数据库的架构，编写了大部分的程序，并培训与指导其他开发及运维人员。
                    </p>
                    <h5>项目业绩：</h5>
                    <p>
                        实现了所有预期功能，且界面美观，使用方便，日志丰富，调试简单；使用中没有明显问题。并凭此获得“2015年度优秀员工”。
                    </p>
                </li>
                <li>
                    <h3>iLO Automation Test Tool （Foxconn） <span style="float:right;">2012.9 - 2013.1</span></h3>
                    <h5>项目描述：</h5>
                    <p>
                        开发一款通过连接实验室中惠普服务器的iLO服务器管理芯片发现与控制所有的惠普服务器的软件。用户可远程登录服务器同时控制多台惠普服务器，查询它们的状态，安装操作系统或进行多项测试工作。
                    </p>
                    <h5>项目职责：</h5>
                    <p>
                        参与了整个软件的编程工作，并提出及实现了多项改善措施。
                    </p>
                    <h5>项目业绩：</h5>
                    <p>
                        与惠普工程师合作进行了ILO Automation Test Tools(主要使用PHP，JavaScript，Ajax，Linux Shell)的开发，并为其提出与开发了Visual Lab功能，增加了它的实用性。
                    </p>
                </li>
                <li>
                    <h3>物联网环境下人员电子定位跟踪呼叫单元 （吉林大学） <span style="float:right;">2010.4 - 2011.10</span></h3>
                    <h5>项目描述：</h5>
                    <p>
                        开发一款通过GPS及心率传感器等多种方式对老年人或小孩进行定位及状态跟踪的设备，如果设备监控到人员状态异常，则及时将GPS定位发送到服务端，方便他人对异常人员进行及时的援助。
                    </p>
                    <h5>项目职责：</h5>
                    <p>
                        系统架构设计，软件编程，团队合作分配
                    </p>
                    <h5>项目业绩：</h5>
                    <p>
                        荣获吉林大学“大学生创新性实验计划”校类一级项目
                    </p>
                </li>
            </ul>
        </div>
        <div class="trophy info-unit">
            <h2 class="info-header"><i class="iconfont icon-trophy"></i> <span class="info-title">奖项与证书</span></h2>
            <hr>
            <ul class="experience-list">
                <li>
                    <h5>2009年吉林大学电子设计大赛二等奖</h5>
                </li>
                <li>
                    <h5>2010年吉林省大学生电子设计竞赛三等奖</h5>
                </li>
                <li>
                    <h5>2010年吉林大学电子设计大赛一等奖</h5>
                </li>
                <li>
                    <h5>2010年瑞萨超级MCU模型车大赛预赛优秀奖</h5>
                </li>
                <li>
                    <h5>2011年吉林大学"大学生创新性实验计划"项目校级一类项目</h5>
                </li>
                <li>
                    <h5>2011年于《科教文汇》杂志发表论文《现代化农业的实时动态监测与控制系统》</h5>
                </li>
                <li>
                    <h5>2015年中国人民银行征信中心优秀员工</h5>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>